<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h2 style="text-align: center;">BOOK DETAILS :</h2>
    <table border="true" style="background-color: bisque; text-align: center;margin: auto;">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>P_year</th>
            <th>Genre</th>
        </tr>
        <tr>
            <td>{{data.title}}</td>
            <td>{{data.author}}</td>
            <td>{{data.p_year}}</td>
            <td>{{data.genre}}</td>
        </tr>
    </table>
</html>